.articolo.voce {
    display: flex;
    border-color: black;
    border-width: 0;
    border-bottom-width: 1px;
}

.articolo.voce .thumbnail {
    background-image: url('/fallback_img.png'); 
    width: 64px; 
    height: 64px; 
    background-size: cover; 
    background-position: center;
}

.articolo.voce div:nth-child(2) {
    flex: 1;
}