.nota.voce {
    text-align: left;
    display: flex;
    border: 0 solid black;
    border-bottom-width: 1px;
}

.nota.voce .thumbnail {
    background-image: url('/fallback_img.png'); 
    width: 64px; 
    height: 64px; 
    background-size: cover; 
    background-position: center;
}

.nota.voce div:nth-child(2) {
    flex: 1;
}